/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";


@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic);
$ptsans: 'PT Sans Narrow', Arial, Tahoma, sans-serif;

html {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
  color: #fff;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

/*INDEX.HTML -START*/
body {
  height: 100%;
  font: bold 14px/24px  $ptsans;
  color: #fff;
  min-width: 960px;
  text-transform: uppercase;
  background: #000 url(../img/bg.jpg) no-repeat center top;
 
}

.container{
	margin: 0 auto;
	max-width: 960px;
	padding: 0 10px;
}


/*main-header -start*/
.main-{
	&header{
		margin-bottom: 60px;
		background: #000;
		font-size: 16px;
		color: #fff;
	}
	&nav{
		float: left;
		width: 780px;
		.active{/*делаем отображение активного элемента*/
			position: relative;

			span{
				/*второе состояние ссылки главной навигации!!!
				  То,когда пункт меню является активным и
				  когда ссылка в пункте навигации отсутствует.
				  Тем самым выделяя что мы находимся именно на 
				  странице,выделенной в пункте.
				  С помощью JavaScriptа можно это реализовать*/
				display: block;
				padding: 25px 20px;
			}

			a:hover{
				/*третье состояние ссылки главной навигации!!!
				 То, когда пункт меню является активным 
				 и ссылка являеется кликабельной*/
				background: none;
			}

			&:after{
				/*выделяем активный пункт главной навигации*/
				content: "";
				position: absolute;
				right: 20px;
				left: 20px;
				bottom: 0;
				height: 5px;
				background-color: #fff;
			}
		}
		ul{
			float: left;
			margin: 0;
			padding: 0;
			font-size: 0; /*это нужно чтобы убрать пробелы у инлайн-блочных элементов*/
			list-style: none;
		}
		a{
			padding: 25px 20px;
			display: block;
			&:hover{
				/*первое состояние ссылки в главной навигации!!!
				 То,когда она не активна*/
				background: #242424;
			}
		}
		li{
			display: inline-block;
			vertical-align: top;
			font-size: 16px;/* и переопределяем шрифт. и радуемся что пробелов нет*/
			line-height: 20px;
		}

		.inner-logo{
			float: left;
			padding-top: 22px;
			padding-bottom: 18px;
			min-width:111px;
			min-height: 24px;
			img{width: 111px;height: 24px;}
			&:hover{background: none;}
		}
	}
}



.user-block{
	float: right;
	max-width: 140px;
	line-height: 20px;

	.login{
		position: relative;
		display: inline-block;
		vertical-align: top;
		color: #fff;
		font-size: 16px;
		padding: 25px 22px 25px 51px;
		
		&:hover{
			background: #242424;
			&::before{opacity: 1;}
		}
		&::before{
			content: "";
			position: absolute;
			top: 28px;left:22px;
			width: 18px;
			height: 16px;
			background: transparent url(../img/temp/login.png);
			opacity: 0.35;
		}
	}
}
/*main-header -end*/ 

/*main-container -start*/
.index-logo{
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 25px;
	img{width: 368px;height: 204px;}
}

.features{
	margin-bottom: 85px;

	& &-item + &-item{margin-left: 20px;}

	&-item{
		float: left;
		width: 300px;
		
		text-align: center;
		p{
			margin: 0 10px;
		}
	}

	&-name{
		position: relative;
		display: block;
		font-size: 30px;
		line-height: 42px;
		padding-bottom: 35px;
		margin-bottom: 30px;
		&::after{ /*делаем ромбики*/
			content: "";
			position: absolute;
			bottom: 0; left: 50%;
			margin-left: -10px;
			width: 20px;
			height: 20px;
			background: #fff;
			transform: rotate(45deg);
		}
	}
}

.index-{
	&content{
		padding: 50px 80px;
		margin-bottom: 35px;
		color: #000;
		background: url(../img/index-content-shadow.png) no-repeat center,
								 #f8f5f2 url(../img/pattern-white.jpg);

		p{margin: 0;margin-bottom: 25px;}
		
		h2{
			font-size: 30px;
			line-height: 42px;
			margin: 0;
			margin-bottom: 25px;
		}

		&-left{
			float: left;
			width: 380px;
		}
		&-right{
			float: right;
			width: 300px;
		}
		.news-preview{
			margin: 0;
			padding: 0;
			padding-right: 35px;
			list-style: none;

			p{margin-bottom: 0;}
			li{margin-bottom: 23px;}
			time{text-transform: none; font-weight: normal;}
		}
	}
}

.btn{
	/*тег button по дефолту не наследует некоторые стили START*/
	display: inline-block;
	vertical-align: top;
	padding: 10px 33px;
	text-transform: uppercase;
	font: bold 14px/24px $ptsans;
	/*тег button по дефолту не наследует некоторые стили END*/
	color: #fff;
	background-color: #000;
	border: none;
	outline: none;
	cursor: pointer;
	+ .btn{margin-left: 16px;}
	/*дальновидный подход. прописываем состояния кнопки*/
	&:hover, &:active{/*даём одинаковый цвет при наведении и клике*/
		background-color: #663d15;
	}
	&.disabled, &:disabled{/*если кнопка заблокирована,то стилизуем её так...*/
		cursor: default;
		opacity: 0.5;
		&:hover{background-color: #000;}
	}

	transition: color 0.3s, background-color 0.3s; /*небольшая анимация*/
}

.gallery{
	position: relative;
	height: 258px;

	&-content{

		margin: 0;
		height: 178px;
		background-color: #ccc;
		
		border: 7px solid #fff;
		img{width: 286px; height: 164px;}
	}
	
	.btn{
		position: absolute;
		margin: 0;
		bottom: 0;
		width: 140px;
	}

	&-prev{left: 0;}
	&-next{right: 0;}
}

.contact-info-buttons{
	padding-top: 3px;
}

.appointment-form {
	
	.btn{width: 100%; clear: both;}
	
	input{
		background: #f9f6f3;
		width: 140px;
		margin-right: 20px;
		margin-bottom: 20px;
		float: left;
		outline: none;
		font: inherit;
		color: inherit;
		text-transform: inherit;
		border: 2px solid #000101;
		padding: 7px 15px;
		&:focus{border-color: #663d15;}
		&:nth-child(2n){margin-right: 0;}
	}
}


/*main-container -end*/ 

/*footer -start*/
.main-footer{
	margin-top: 65px;
	padding-top: 58px;
	padding-bottom: 40px;
	background: #232323 url(../img/pattern-black.jpg);
	color: #fff;
	a{color: #fff;}
	p{
		margin: 0;
		margin-bottom: 15px;
		text-align: center;
	}
}

.footer-{
	
	&contacts{
		width: 320px;
		float: left;
		margin-right: 60px;
	}

	&social{
		max-width: 195px;
		float: left;
		text-align: center;
	}

	&copyright{
		max-width: 180px;
		float: right;
		
		.btn:hover{
			color: #000;
			background-color: #fff;
		}
	}
}

.how-to-get{
	display: inline-block;
	vertical-align: top;
	line-height: 18px;
	margin-top: 0.15em;
	border-bottom: 1px solid #929292;
	box-shadow: inset 0 -1px 0 0 #595959;
	&:hover{color: #ccc;}
	
 }

.social{

	&-btn{
		display: inline-block;
		vertical-align: top;

		width: 43px;
		height: 43px;
		background: #000 url(../img/social-sprite.png) no-repeat 15px 10px;
		font-size: 0;
		
		transition: background-position 0.3s, background-color 0.3s;

		+ .social-btn{
			margin: 0;
			margin-left: 2px;
		}
		&:hover{background-color: #fff;}
		&-vk{
			background-position: 9px -70px;
			&:hover{background-position: 9px -106px}
		}
		&-fb{
			background-position: 15px 10px;
			&:hover{background-position: 15px -32px;}
		}
		&-inst{
			background-position: 12px -145px;
			&:hover{background-position: 12px -186px;}
		}
	}
}
/*footer -end*/ 
/*INDEX.HTML -END*/

/*CТИЛИ ВНУТРЕННИХ СТРАНИЦ*/ /*PRICE-LIST.HTML -START*/
.inner-page{
	color: #000;
	background: #f8f5f2 url(../img/pattern-white.jpg);
	a{color: inherit;}

	.main-header{
		margin-bottom: 52px;
	}

	&-title{
		margin-bottom: 55px;
		h1{
			margin: 0;
			padding: 0;
			margin-bottom: 25px;
			font-size: 30px;
			line-height: 42px;
		}
	}
}

.breadcrumbs{/*постраничная навигация*/
	margin: 0;
	padding: 0;
	list-style: none;
	.current{
		color: #aba9a7;
		padding-right: 0;
		&::after{
			display: none;
		}
	}
	a{
		color: #000;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	li{
		position: relative;
		display: inline;
		padding-right: 40px;
		&::after{
			content: "";
			position: absolute;
			width: 7px;
			height: 7px;
			top: 6px;
			right: 15px;
			background-color: #000;
			transform: rotate(45deg);
		}
	}
}

.inner-content{
	margin-bottom: 85px;
	h2{
		margin-top: 60px;
		margin-bottom: 30px;
		font-size: 24px;
		line-height: 30px;
	}
	p{
		margin: 14px 0;
	}
	table{
		border-collapse: collapse;
	}
	td{
		padding: 10px 15px;
		border: 2px solid #000;
	}
}

.big-heading{
	margin-top: 55px;
	margin-bottom: 65px;
	text-align: center;
	h2{
		position: relative;
		z-index: 2;
		display: inline;
		background: #f8f5f2 url(../img/pattern-white.jpg);
		margin: 0;
		padding: 0 25px;
		font-size: 48px;
		line-height: 48px;
		text-align: center;
	}
	&::after{
		content: "";
		position: relative;
		z-index: 1;
		display: block;
		top: -25px; 
		border-bottom: 2px solid #000;
	}
}

.custom-list-1{
	margin: 14px 0;
	padding: 0;
	list-style: none;
	li{
		position: relative;
		padding-left: 20px;
		margin-bottom: 15px;
		&::before{
			content: "";
			position: absolute;
			top: 8px;
			left: 0;
			width: 7px;
			height: 7px;
			background-color: #000;
			transform: rotate(45deg);
		}
	}
}

.prices-table {
	width: 100%;
	td{
		width: 50%;
		&:last-child{text-align: center;}/*временный вариант*/
	}
}