@charset 'UTF-8';
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic);

html
{
    height: 100%;
}

*
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

a,
a:hover
{
    text-decoration: none;

    color: #fff;
}

.clearfix:before,
.clearfix:after
{
    display: table;

    content: ' ';
}

.clearfix:after
{
    clear: both;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

/*INDEX.HTML -START*/
body
{
    font: bold 14px/24px 'PT Sans Narrow', Arial, Tahoma, sans-serif;

    min-width: 960px;
    height: 100%;

    text-transform: uppercase;

    color: #fff;
    background: #000 url(../img/bg.jpg) no-repeat center top;
}

.container
{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

/*main-header -start*/
.main-header
{
    font-size: 16px;

    margin-bottom: 60px;

    color: #fff;
    background: #000;
}
.main-nav
{
    float: left;

    width: 780px;
}
.main-nav .active
{
    /*делаем отображение активного элемента*/
    position: relative;
}
.main-nav .active span
{
    /*второе состояние ссылки главной навигации!!!
    То,когда пункт меню является активным и
    когда ссылка в пункте навигации отсутствует.
    Тем самым выделяя что мы находимся именно на 
    странице,выделенной в пункте.
    */
    display: block;

    padding: 25px 20px;
}
.main-nav .active a:hover
{
    /*третье состояние ссылки главной навигации!!!
   То, когда пункт меню является активным 
   и ссылка являеется кликабельной*/
    background: none;
}
.main-nav .active:after
{
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;

    height: 5px;
    /*выделяем активный пункт главной навигации*/

    content: '';

    background-color: #fff;
}
.main-nav ul
{
    font-size: 0;

    float: left;

    margin: 0;
    padding: 0;
    /*это нужно чтобы убрать пробелы у инлайн-блочных элементов*/

    list-style: none;
}
.main-nav a
{
    display: block;

    padding: 25px 20px;
}
.main-nav a:hover
{
    /*первое состояние ссылки в главной навигации!!!
   То,когда она не активна*/
    background: #242424;
}
.main-nav li
{
    font-size: 16px;
    /* и переопределяем шрифт. и радуемся что пробелов нет*/
    line-height: 20px;

    display: inline-block;

    vertical-align: top;
}
.main-nav .inner-logo
{
    float: left;

    min-width: 111px;
    min-height: 24px;
    padding-top: 22px;
    padding-bottom: 18px;
}
.main-nav .inner-logo img
{
    width: 111px;
    height: 24px;
}
.main-nav .inner-logo:hover
{
    background: none;
}

.user-block
{
    line-height: 20px;

    float: right;

    max-width: 140px;
}
.user-block .login
{
    font-size: 16px;

    position: relative;

    display: inline-block;

    padding: 25px 22px 25px 51px;

    vertical-align: top;

    color: #fff;
}
.user-block .login:hover
{
    background: #242424;
}
.user-block .login:hover::before
{
    opacity: 1;
}
.user-block .login::before
{
    position: absolute;
    top: 28px;
    left: 22px;

    width: 18px;
    height: 16px;

    content: '';

    opacity: .35;
    background: transparent url(../img/sprites.png) no-repeat;
    background-position: 0 -340px;
}

/*main-header -end*/
/*main-container -start*/
.index-logo
{
    width: 368px;
    height: 204px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.index-logo img
{
    width: 368px;
    height: 204px;
}

.features
{
    margin-bottom: 85px;
}
.features .features-item + .features-item
{
    margin-left: 20px;
}
.features-item
{
    float: left;

    width: 300px;

    text-align: center;
}
.features-item p
{
    margin: 0 10px;
}
.features-name
{
    font-size: 30px;
    line-height: 42px;

    position: relative;

    display: block;

    margin-bottom: 30px;
    padding-bottom: 35px;
}
.features-name::after
{
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 20px;
    height: 20px;
    margin-left: -10px;
    /*делаем ромбики*/

    content: '';
    transform: rotate(45deg);

    background: #fff;
}

.index-content
{
    margin-bottom: 35px;
    padding: 50px 80px;

    color: #000;
    background: url(../img/index-content-shadow.png) no-repeat center, #f8f5f2 url(../img/pattern-white.jpg);
}
.index-content p
{
    margin: 0;
    margin-bottom: 25px;
}
.index-content h2
{
    font-size: 30px;
    line-height: 42px;

    margin: 0;
    margin-bottom: 25px;
}
.index-content-left
{
    float: left;

    width: 380px;
}
.index-content-right
{
    float: right;

    width: 300px;
}
.index-content .news-preview
{
    margin: 0;
    padding: 0;
    padding-right: 35px;

    list-style: none;
}
.index-content .news-preview p
{
    margin-bottom: 0;
}
.index-content .news-preview li
{
    margin-bottom: 23px;
}
.index-content .news-preview time
{
    font-weight: normal;

    text-transform: none;
}

.btn
{
    font: bold 14px/24px 'PT Sans Narrow', Arial, Tahoma, sans-serif;
    /*тег button по дефолту не наследует некоторые стили START*/

    display: inline-block;

    padding: 10px 33px;

    cursor: pointer;
    /*дальновидный подход. прописываем состояния кнопки*/
    -webkit-transition: color .3s, background-color .3s;
       -moz-transition: color .3s, background-color .3s;
            transition: color .3s, background-color .3s;
    vertical-align: top;
    text-transform: uppercase;
    /*тег button по дефолту не наследует некоторые стили END*/

    color: #fff;
    border: none;
    outline: none;
    background-color: #000;
    /*небольшая анимация*/
}
.btn + .btn
{
    margin-left: 16px;
}
.btn:hover,
.btn:active
{
    /*даём одинаковый цвет при наведении и клике*/
    background-color: #663d15;
}
.btn.disabled,
.btn:disabled
{
    /*если кнопка заблокирована,то стилизуем её так...*/
    cursor: default;

    opacity: .5;
}
.btn.disabled:hover,
.btn:disabled:hover
{
    background-color: #000;
}

.gallery
{
    position: relative;

    height: 258px;
}
.gallery-content
{
    height: 178px;
    margin: 0;

    border: 7px solid #fff;
    background-color: #ccc;
}
.gallery-content img
{
    width: 286px;
    height: 164px;
}
.gallery .btn
{
    position: absolute;
    bottom: 0;

    width: 140px;
    margin: 0;
}
.gallery-prev
{
    left: 0;
}
.gallery-next
{
    right: 0;
}

.contact-info-buttons
{
    padding-top: 3px;
}

.appointment-form .btn
{
    clear: both;

    width: 100%;
}
.appointment-form input
{
    font: inherit;

    float: left;

    width: 140px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 7px 15px;

    color: inherit;
    border: 2px solid #000101;
    outline: none;
    background: #f9f6f3;
}
.appointment-form input:focus
{
    border-color: #663d15;
}
.appointment-form input:nth-child(2n)
{
    margin-right: 0;
}

/*main-container -end*/
/*modal-content -start*/
.modal-content
{
    position: fixed;
    z-index: 30;
    top: 120px;
    left: 50%;

    display: none;

    width: 460px;
    margin-left: -230px;
    padding: 50px 80px;

    color: #000;
    background: #f8f5f2 url(../img/pattern-white.jpg);
    box-shadow: 0 30px 50px rgba(0, 0, 0, .75);
}
.modal-content-close
{
    font-size: 0;
    /*делаем крестик*/

    position: absolute;
    top: 0;
    right: -34px;

    width: 20px;
    height: 20px;

    cursor: pointer;

    border: none;
    outline: 0;
    background: transparent;
}
.modal-content-close::before,
.modal-content-close::after
{
    position: absolute;
    top: 10px;
    right: 2px;

    width: 19px;
    height: 3px;

    content: '';

    -webkit-border-radius: 1px;
       -moz-border-radius: 1px;
            border-radius: 1px;
    background-color: #d0d0d0;
}
.modal-content-close::before
{
    transform: rotate(45deg);
}
.modal-content-close::after
{
    transform: rotate(-45deg);
    /*закончили крестик*/
}
.modal-content h2
{
    font-size: 30px;
    line-height: 42px;

    margin: 0;
    margin-bottom: 20px;
}
.modal-content p
{
    margin: 0;
    margin-bottom: 14px;
}

input[type='text']::-webkit-input-placeholder,
input[type='tel']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder
{
    text-transform: uppercase;

    color: #000;
}
input[type='text']::-moz-placeholder,
input[type='tel']::-moz-placeholder,
input[type='password']::-moz-placeholder
{
    text-transform: uppercase;

    color: #000;
}
input[type='text']:-moz-placeholder,
input[type='tel']:-moz-placeholder,
input[type='password']:-moz-placeholder
{
    text-transform: uppercase;

    color: #000;
}
input[type='text']:-ms-input-placeholder,
input[type='tel']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder
{
    text-transform: uppercase;

    color: #000;
}

.login-form input[type='text'],
.login-form input[type='password']
{
    font: bold 14px/18px 'PT Sans Narrow', Arial, Tahoma, sans-serif;

    width: 300px;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 20px;
    padding-right: 40px;

    color: #000;
    border: 2px solid #000;
    outline: none;
    background-color: #f9f6f3;
}
.login-form input:focus
{
    border-color: #663d15;
}
.login-form input.icon-user
{
    background: url(../img/sprites.png) no-repeat;
    background-position: 100% -235px;
}
.login-form input.icon-password
{
    background: url(../img/sprites.png) no-repeat;
    background-position: 100% -282px;
}
.login-form input[type='checkbox']
{
    /*скрываем стандартный чекбокс для последующей стилизации кастомного чекбокса*/
    display: none;
}
.login-form .login-checkbox
{
    position: relative;

    padding-left: 30px;

    cursor: pointer;
}
.login-form .login-checkbox:hover
{
    color: #663d15;
}
.login-form .login-checkbox input[type='checkbox'] + .checkbox-indicator
{
    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    border: 2px solid #000;
}
.login-form .login-checkbox input[type='checkbox']:checked + .checkbox-indicator::before,
.login-form .login-checkbox input[type='checkbox']:checked + .checkbox-indicator::after
{
    position: absolute;
    top: 7px;
    right: 0;

    width: 16px;
    height: 2px;

    content: '';

    background-color: #000;
}
.login-form .login-checkbox input[type='checkbox']:checked + .checkbox-indicator::before
{
    transform: rotate(45deg);
}
.login-form .login-checkbox input[type='checkbox']:checked + .checkbox-indicator::after
{
    transform: rotate(-45deg);
}
.login-form .restore
{
    float: right;

    text-decoration: underline;

    color: #000;
}
.login-form .btn
{
    width: 100%;
    margin-top: 15px;
}

/*modal-content -end*/
/*modal-content-map -start*/
.modal-content-map
{
    position: fixed;
    z-index: 30;
    top: 50%;
    left: 50%;

    display: none;

    min-width: 766px;
    min-height: 560px;
    margin-top: -280px;
    margin-left: -383px;

    border: 7px solid #fff;
    background: #e9e5dc url(../img/map.jpg);
    box-shadow: 0 30px 50px rgba(0, 0, 0, .75);
}

/*modal-content-map -end*/
/*тёмный оверлей*/
.modal-overlay
{
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .5);
    /*важно правильно выставлять зет индекс оверлея для всплывающих окон*/
}

.modal-overlay-show
{
    display: block;
}

/*тёмный оверлей*/
/*footer -start*/
.main-footer
{
    margin-top: 64px;
    padding-top: 58px;
    padding-bottom: 40px;

    color: #fff;
    background: #232323 url(../img/pattern-black.jpg);
}
.main-footer a
{
    color: #fff;
}
.main-footer p
{
    margin: 0;
    margin-bottom: 15px;

    text-align: center;
}

.footer-contacts
{
    float: left;

    width: 320px;
    margin-right: 60px;
}
.footer-social
{
    float: left;

    max-width: 195px;
    margin-left: 23px;

    text-align: center;
}
.footer-copyright
{
    float: right;

    max-width: 180px;
}
.footer-copyright .btn
{
    padding-right: 19px;
    padding-left: 19px;
}
.footer-copyright .btn:hover
{
    color: #000;
    background-color: #fff;
}

.how-to-get
{
    line-height: 18px;

    display: inline-block;

    margin-top: .15em;

    vertical-align: top;

    border-bottom: 1px solid #929292;
    box-shadow: inset 0 -1px 0 0 #595959;
}
.how-to-get:hover
{
    color: #ccc;
}

.social-btn
{
    font-size: 0;

    display: inline-block;

    width: 43px;
    height: 43px;

    -webkit-transition: background-position .3s, background-color .3s;
       -moz-transition: background-position .3s, background-color .3s;
            transition: background-position .3s, background-color .3s;
    vertical-align: top;

    background: #000 url(../img/sprites.png) no-repeat 15px 10px;
}
.social-btn + .social-btn
{
    margin: 0;
    margin-left: 2px;
}
.social-btn:hover
{
    background-color: #fff;
}
.social-btn-vk
{
    background-position: 9px -70px;
}
.social-btn-vk:hover
{
    background-position: 9px -106px;
}
.social-btn-fb
{
    background-position: 15px 10px;
}
.social-btn-fb:hover
{
    background-position: 15px -32px;
}
.social-btn-inst
{
    background-position: 12px -145px;
}
.social-btn-inst:hover
{
    background-position: 12px -186px;
}

/*footer -end*/
/*INDEX.HTML -END*/
/*CТИЛИ ВНУТРЕННИХ СТРАНИЦ*/
/*PRICE-LIST.HTML -START*/
.inner-page
{
    color: #000;
    background: #f8f5f2 url(../img/pattern-white.jpg);
}
.inner-page a
{
    color: inherit;
}
.inner-page .main-header
{
    margin-bottom: 50px;
}
.inner-page-title
{
    margin-bottom: 55px;
}
.inner-page-title h1
{
    font-size: 30px;
    line-height: 42px;

    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}
.inner-page .main-footer
{
    margin-top: 49px;
}

.breadcrumbs
{
    /*постраничная навигация*/
    margin: 0;
    padding: 0;

    list-style: none;
}
.breadcrumbs .current
{
    padding-right: 0;

    color: #aba9a7;
}
.breadcrumbs .current::after
{
    display: none;
}
.breadcrumbs a
{
    text-decoration: none;

    color: #000;
}
.breadcrumbs a:hover
{
    text-decoration: underline;
}
.breadcrumbs li
{
    position: relative;

    display: inline;

    padding-right: 40px;
}
.breadcrumbs li::after
{
    position: absolute;
    top: 6px;
    right: 15px;

    width: 7px;
    height: 7px;

    content: '';
    transform: rotate(45deg);

    background-color: #000;
}

.inner-content
{
    margin-bottom: 85px;
}
.inner-content h2
{
    font-size: 24px;
    line-height: 30px;

    margin-top: 60px;
    margin-bottom: 30px;
}
.inner-content p
{
    margin: 14px 0;
}
.inner-content table
{
    border-collapse: collapse;
}
.inner-content td
{
    padding: 10px 15px;

    border: 2px solid #000;
}

.big-heading
{
    margin-top: 55px;
    margin-bottom: 65px;

    text-align: center;
}
.big-heading h2
{
    font-size: 48px;
    line-height: 48px;

    position: relative;
    z-index: 2;

    display: inline;

    margin: 0;
    padding: 0 25px;

    text-align: center;

    background: #f8f5f2 url(../img/pattern-white.jpg);
}
.big-heading::after
{
    position: relative;
    z-index: 1;
    top: -25px;

    display: block;

    content: '';

    border-bottom: 2px solid #000;
}

.custom-list-1
{
    margin: 14px 0;
    padding: 0;

    list-style: none;
}
.custom-list-1 li
{
    position: relative;

    margin-bottom: 15px;
    padding-left: 20px;
}
.custom-list-1 li::before
{
    position: absolute;
    top: 8px;
    left: 0;

    width: 7px;
    height: 7px;

    content: '';
    transform: rotate(45deg);

    background-color: #000;
}

.prices-table
{
    width: 100%;
}
.prices-table td
{
    width: 50%;
    /*так пойдет, только пока в таблице 2 колонки*/
}
.prices-table td:last-child
{
    text-align: center;
}

.inner-columns
{
    margin: 60px 0;
}
.inner-columns h2
{
    margin-top: 0;
}
.inner-column-left,
.inner-column-right
{
    width: 460px;
}
.inner-column-left *:first-child,
.inner-column-right *:first-child
{
    margin-top: 0;
}
.inner-column-left *:last-child,
.inner-column-right *:last-child
{
    margin-bottom: 0;
}
.inner-column-left
{
    float: left;
}
.inner-column-right
{
    float: right;
}

.short-text
{
    padding-right: 80px;
}

/*PRICE-LIST.HTML -END*/
/*SHOP -START*/
.sorting-items
{
    float: left;

    width: 220px;
}
.sorting-items h2
{
    font-size: 24px;
    line-height: 30px;

    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}
.sorting-items label
{
    display: block;
}
.sorting-items .sortable-item + .sortable-item
{
    margin-top: 20px;
}

.manufacturers p,
.product-group p
{
    margin: 0;
    padding: 0;
}
.manufacturers .sortable-item,
.product-group .sortable-item
{
    font-size: 14px;
    line-height: 18px;

    position: relative;

    padding-left: 44px;

    text-align: left;
}

.manufacturers
{
    margin-bottom: 48px;
}
.manufacturers input[type='checkbox']
{
    display: none;
}
.manufacturers .sortable-item input[type='checkbox'] + .checkbox-indicator
{
    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    cursor: pointer;

    border: 2px solid #000;
}
.manufacturers .sortable-item input[type='checkbox']:checked + .checkbox-indicator::before,
.manufacturers .sortable-item input[type='checkbox']:checked + .checkbox-indicator::after
{
    position: absolute;
    top: 7px;
    right: 0;

    width: 16px;
    height: 2px;

    content: '';

    background-color: #000;
}
.manufacturers .sortable-item input[type='checkbox']:checked + .checkbox-indicator::before
{
    transform: rotate(45deg);
}
.manufacturers .sortable-item input[type='checkbox']:checked + .checkbox-indicator::after
{
    transform: rotate(-45deg);
}

.product-group input[type='radio']
{
    display: none;
}
.product-group input[type='radio'] + .radio-indicator
{
    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    cursor: pointer;

    border: 2px solid #000;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
.product-group input[type='radio']:checked + .radio-indicator::before
{
    position: absolute;
    top: 25%;
    right: 4px;

    width: 8px;
    height: 8px;
    /*кастомный круглешок*/

    content: '';

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: #000;
}

.sortable-item input[type='radio'] ~ p
{
    cursor: pointer;
}
.sortable-item input[type='radio'] ~ p:hover
{
    color: #663d15;
}
.sortable-item input[type='radio']:checked:disabled + .radio-indicator::before
{
    /*если выбрано и недоступно*/
    background-color: #aeaba9;
}
.sortable-item input[type='radio']:disabled + .radio-indicator
{
    /*есди недоступно*/
    cursor: default;

    border-color: #aeaba9;
}
.sortable-item input[type='radio']:disabled ~ p
{
    cursor: default;

    color: #aeaba9;
}
.sortable-item input[type='checkbox'] ~ p
{
    cursor: pointer;
}
.sortable-item input[type='checkbox'] ~ p:hover
{
    color: #663d15;
}
.sortable-item input[type='checkbox']:checked:disabled + .checkbox-indicator::before,
.sortable-item input[type='checkbox']:checked:disabled + .checkbox-indicator::after
{
    /*если выбрано и недоступно*/
    background-color: #aeaba9;
}
.sortable-item input[type='checkbox']:disabled + .checkbox-indicator
{
    cursor: default;
    /*есди недоступно*/

    border-color: #aeaba9;
}
.sortable-item input[type='checkbox']:disabled ~ p
{
    cursor: default;

    color: #aeaba9;
}

.item-container
{
    font-size: 14px;
    line-height: 18px;

    margin-left: 240px;
}
.item-container figure,
.item-container figcaption,
.item-container figcaption p
{
    margin: 0;
    padding: 0;
}
.item-container figure img
{
    display: block;
}
.item-container figcaption
{
    margin-top: 15px;
    padding-right: 17px;
    padding-left: 16px;
}
.item-container .item
{
    float: left;

    width: 220px;
    height: 286px;
    margin-right: 20px;
    margin-bottom: 20px;

    -webkit-transition: box-shadow .3s;
       -moz-transition: box-shadow .3s;
            transition: box-shadow .3s;

    color: #000;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}
.item-container .item:nth-child(3n)
{
    margin-right: 0;
}
.item-container .item:hover
{
    box-shadow: 3px 4px 25px rgba(0, 0, 0, .3);
}
.item-container .description
{
    text-transform: none;
}
.item-container .manufacturer
{
    text-transform: uppercase;
}
.item-container .price
{
    line-height: 18px;

    margin-top: 13px;
    margin-right: 17px;
    margin-left: 16px;

    text-align: center;
    text-transform: uppercase;

    background: #e5e5e5;
}
.item-container .price span
{
    display: inline-block;

    margin-top: 12px;

    vertical-align: top;
}
.item-container .price .btn
{
    line-height: 18px;

    float: right;

    padding: 11px 18px;

    color: #fff;
}

.price
{
    line-height: 18px;

    margin-top: 13px;
    margin-right: 17px;
    margin-left: 16px;

    text-align: center;
    text-transform: uppercase;

    background: #e5e5e5;
}
.price span
{
    display: inline-block;

    margin-top: 12px;

    vertical-align: top;
}
.price .btn
{
    line-height: 18px;

    float: right;

    padding: 11px 18px;

    color: #fff;
}

.pagination
{
    margin: 0;
    padding: 0;
}
.pagination li
{
    font-size: 14px;
    line-height: 18px;

    display: inline-block;

    list-style: none;

    vertical-align: top;

    color: #fff;
}
.pagination li + li
{
    margin-left: 5px;
}
.pagination li a
{
    display: inline-block;

    padding: 12px 18px;

    -webkit-transition: background-color .3s;
       -moz-transition: background-color .3s;
            transition: background-color .3s;
    vertical-align: top;

    color: inherit;
    background: #000;
}
.pagination li a:hover
{
    background: #663d15;
}
.pagination .active span
{
    display: inline-block;

    padding: 12px 18px;

    vertical-align: top;

    color: #000;
    background: #fff;
}

/*SHOP -END*/
/*ITEM-IN-THE-SHOP  -START*/
.concrete-item-imgs
{
    float: left;

    width: 460px;
    height: 668px;
}
.concrete-item-imgs figure
{
    margin: 0;
    padding: 0;

    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}
.concrete-item-imgs .big-img
{
    width: 460px;
    height: 498px;
    margin-bottom: 20px;
}
.concrete-item-imgs .small-img
{
    display: inline-block;

    width: 140px;
    height: 149px;
    margin-right: 17px;

    cursor: pointer;
    -webkit-transition: box-shadow .3s;
       -moz-transition: box-shadow .3s;
            transition: box-shadow .3s;
}
.concrete-item-imgs .small-img:last-child
{
    margin-right: 0;
}
.concrete-item-imgs .small-img:hover
{
    box-shadow: 3px 4px 25px rgba(0, 0, 0, .3);
}
.concrete-item-descr
{
    float: right;

    width: 390px;
}
.concrete-item-descr .general-descr
{
    margin: 0;
    margin-top: 29px;
    margin-bottom: 37px;
    padding: 0;
}
.concrete-item-descr .price
{
    width: 187px;
    margin: 0;
    margin-bottom: 60px;
}

.metainf
{
    margin: 0;
    margin-top: 18px;
    padding: 0;
}
.metainf .has-in-stock
{
    float: left;
}
.metainf .articul
{
    float: right;

    padding-right: 13px;

    color: #aeaeae;
}

.item-set
{
    padding-top: 7px;
}
.item-set h2,
.item-set ul
{
    margin: 0;
    padding: 0;
}
.item-set h2
{
    font-size: 24px;
}
.item-set .custom-list-1
{
    margin-top: 30px;
}
.item-set .custom-list-1 li
{
    margin-bottom: 0;
}

/*ITEM-IN-THE-SHOP  -END*/
/*Animations*/
.modal-content-show
{
    display: block;

    animation: bounce .5s;
}

.modal-error
{
    animation: shake .6s;
}

@-webkit-keyframes bounce
{
    0%
    {
        -webkit-transform: translateY(-1200px);
    }
    70%
    {
        -webkit-transform: translateY(40px);
    }
    90%
    {
        -webkit-transform: translateY(-5px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
    }
}
@-moz-keyframes bounce
{
    0%
    {
        -moz-transform: translateY(-1200px);
    }
    70%
    {
        -moz-transform: translateY(40px);
    }
    90%
    {
        -moz-transform: translateY(-5px);
    }
    100%
    {
        -moz-transform: translateY(0px);
    }
}
@keyframes bounce
{
    0%
    {
        -webkit-transform: translateY(-1200px);
           -moz-transform: translateY(-1200px);
            -ms-transform: translateY(-1200px);
             -o-transform: translateY(-1200px);
                transform: translateY(-1200px);
    }
    70%
    {
        -webkit-transform: translateY(40px);
           -moz-transform: translateY(40px);
            -ms-transform: translateY(40px);
             -o-transform: translateY(40px);
                transform: translateY(40px);
    }
    90%
    {
        -webkit-transform: translateY(-5px);
           -moz-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
             -o-transform: translateY(-5px);
                transform: translateY(-5px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
           -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
             -o-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@-webkit-keyframes shake
{
    0%,
    100%
    {
        -webkit-transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90%
    {
        -webkit-transform: translateX(10px);
    }
    20%,
    40%,
    60%,
    80%
    {
        -webkit-transform: translateX(-10px);
    }
}
@-moz-keyframes shake
{
    0%,
    100%
    {
        -moz-transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90%
    {
        -moz-transform: translateX(10px);
    }
    20%,
    40%,
    60%,
    80%
    {
        -moz-transform: translateX(-10px);
    }
}
@keyframes shake
{
    0%,
    100%
    {
        -webkit-transform: translateX(0);
           -moz-transform: translateX(0);
            -ms-transform: translateX(0);
             -o-transform: translateX(0);
                transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90%
    {
        -webkit-transform: translateX(10px);
           -moz-transform: translateX(10px);
            -ms-transform: translateX(10px);
             -o-transform: translateX(10px);
                transform: translateX(10px);
    }
    20%,
    40%,
    60%,
    80%
    {
        -webkit-transform: translateX(-10px);
           -moz-transform: translateX(-10px);
            -ms-transform: translateX(-10px);
             -o-transform: translateX(-10px);
                transform: translateX(-10px);
    }
}
